<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burger.js"></script>


	
<title>Eat Da Burger!</title>

<!-- CSS -->
<style type="text/css">
    body {
        background-image: url('https://media.timeout.com/images/103737522/image.jpg');
        background-size: cover;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
  </style>

</head>
<!--Data rendered from index template via Handlebars -->
	<body>
		{{{ body }}}
	
</body>
</html>
