<title>Eat-Da-Burger</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/burger_style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	


<div class="jumbotron">
  <h1>Eat-Da-Burger!</h1>

</div> 
<div class="row" id="burgers"class="col-3 col-md-3 col-sm-12">
  <div class="col-3 col-md-3 col-sm-12"id="addburger">
      <h2>Create Your Own Burger</h2>
      <br>

    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Burger Name">
      <button type="submit" class="addBurgerButton">Create My Burger</button>
    </form>
  </div>

 <div id="burgernoteaten"class="col-4 col-md-4  col-sm-6">
   <h2>Burgers Available</h2>
    <div class="col-12 col-md-12 col-sm-6">
       <ul class="noteaten">
      {{#each burgers}}
       {{#unless this.devoured}}
      <li class="list-group-item">
        <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
          <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
        </form>
      </li>
      {{/unless}} {{/each}}
      </ul>
    </div>
  </div>`

  <div id="burgereaten" class="col-4 col-md-4  col-sm-6">
     <h2>Burgers Devoured</h2>
   <div class="col-12 col-md-12 col-sm-6">
      <ul class="eaten">
      {{#each burgers}} {{#if this.devoured}}
     <li class="list-group-item">
      {{this.burger_name}} {{/if}} {{/each}}
      </li>
      </ul>
    </div>
  </div>
  
</div>
