body {
    min-height: 90%;
    margin: 20px;
    background-color: lightyellow;
}
.jumbotron {
    background-image: url("https://cdn-image.myrecipes.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/classic-burgers-u.jpg?itok=-tU5CM7w");
    height: 250px;
    width: 100%;
}
img {
    width: auto;
}
h1 {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin-top: -70px;
    font-size: 70px;
}
h2 {
    font-family: Tahoma, sans-serif;
    font-size: 30px;
}
.list-group-item {
    border: none;
}
li.list-group-item {
    background: none;
    font-family: Tahoma, sans-serif;
    color: rebeccapurple;
}
button {
    min-width: 100px;
}
.eaten {
    color: rgb(97, 146, 97);
}

div {
    display: inline-block
}
.col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 33.33%;
}
/* #burgernoteaten{
    padding-right: 10px;
} */
#burgereaten {
    display: inline;
    float: right;
     margin-right:10px;
}
footer {
    max-height: 10%;
    margin-bottom: -30px;
}
span.grey-text{
    margin-left:400px;
}
